<div class="project-box">
		<h1>[== $c->loc('Hello World!') =]</h1>
		<p>[== $c->loc('%1, running on Leyland v%2', $c->app->name, $Leyland::VERSION) =]</p>
</div>

<div class="project-box">
		<h1>[== $c->loc('Hello World!') =]</h1>
		<p>[== $c->loc('%1, running on Leyland v%2', $c->app->name, $Leyland::VERSION) =]</p>
</div>
<div class="project-box">
		<h1>[== $c->loc('Hello World!') =]</h1>
		<p>[== $c->loc('%1, running on Leyland v%2', $c->app->name, $Leyland::VERSION) =]</p>
</div>
<div class="project-box">
		<h1>[== $c->loc('Hello World!') =]</h1>
		<p>[== $c->loc('%1, running on Leyland v%2', $c->app->name, $Leyland::VERSION) =]</p>
</div>
<div class="project-box">
		<h1>[== $c->loc('Hello World!') =]</h1>
		<p>[== $c->loc('%1, running on Leyland v%2', $c->app->name, $Leyland::VERSION) =]</p>
</div>
